body {
    font-family: 'Segoe UI', sans-serif;
    background-color : black;
}

div {
    word-wrap: normal;
}

td.countDown {
    font-size: 32px;
    font-weight: bold;    
    color: white;
    text-align: center;
}

td.wordStyle {
    font-size: 9px;
    text-align: left;
}

input.wordOn {
    background-color : #424242;
    border:2px solid #323232;
    border-radius: 5px;
    margin : 1px;
    padding : 10px;
    color: white;
}

input.wordOff {
    background-color : #424242;
    border:2px solid #323232;
    border-radius: 5px;
    margin : 1px;
    padding : 10px;
    color: #424242;
}

input.answer {
    background-color : white;
    border:2px solid #6995B2;
    border-radius: 5px;
    margin : 1px;
    padding : 10px;
    color: black;
}

input.miss {
    background-color : orange;
    border:2px solid #6995B2;
    border-radius: 5px;
    margin : 1px;
    padding : 10px;
    color: black;
}

.rum{
    animation: rumble 0.5s linear infinite;
    -webkit-animation: rumble 0.5s linear infinite;
}
 
@keyframes rumble{
     0% { transform: rotate(0deg);  }
  12.5% { transform: rotate(4deg);  }
    25% { transform: rotate(8deg);  }
  37.5% { transform: rotate(4deg);  }
    50% { transform: rotate(0deg);  }
  62.5% { transform: rotate(-4deg); }
    75% { transform: rotate(-8deg); }
  87.5% { transform: rotate(-4deg); }
   100% { transform: rotate(0deg);  }
}

@-webkit-keyframes rumble {
     0% { -webkit-transform: rotate(0deg);  }
  12.5% { -webkit-transform: rotate(4deg);  }
    25% { -webkit-transform: rotate(8deg);  }
  37.5% { -webkit-transform: rotate(4deg);  }
    50% { -webkit-transform: rotate(0deg);  }
  62.5% { -webkit-transform: rotate(-4deg); }
    75% { -webkit-transform: rotate(-8deg); }
  87.5% { -webkit-transform: rotate(-4deg); }
   100% { -webkit-transform: rotate(0deg);  }
}

* {
    box-sizing: border-box;
}
 
.wrapper {
    padding: 30px;
    position: relative;
} 
 
.box {
    background-color:#E4F5FD;
    border:3px solid #6995B2;
    border-radius:10px;
    position:relative;
    height:200px;
    width:320px;
    padding : 10px;
}
 
.line {
   border-bottom: 3px solid blue;
   padding-bottom: 15px; /* 内容と線との間隔量 */
}

hr {
   border:solid #000;
   border-width:1px 0 0 0;
   height:1px;/* for IE6 */
   clear:both;/* for IE6 */
}

.bar {
	float: left;
	margin-top: 5px;
	width: 280px; height: 10px;
	background-color: #f00;
}

